<header class="header multiBGColor">
	<ul class="nav nav-list pull-left">
		<li>
			<a class="disabled">
				<span class="access-hide">Fabian Buentello</span>
				<span class="avatar avatar-sm" style="background-color: transparent;"><img alt="alt text for Fabian Buentello avatar" src="images/users/fabian-animated-face-1000.6ee50ded.png"></span>
				<span class="header-close icon icon-close"></span>
			</a>
		</li>
	</ul>
	<a class="header-logo" href="/">Fabian Buentello</a>
	<ul class="nav nav-list pull-left">
		<li>
			<a class="tileHeader navBarTile navBarTile" href="/blog">Blog</a>
		</li>
	</ul>
</header>
<div class="content-heading"></div>