<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" ng-app="websiteApp" ng-controller="mainController">
  <head>
	<meta charset="utf-8">
	<meta name="fragment" content="!" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta property="og:title" content="Fabian | Developer"/>
	<meta property="og:image" content="http://fabianbuentello.io/images/tutorialImages/nba-logo-vector-fb.ab91818a.png" />
	<meta property="og:image" content="http://fabianbuentello.io/images/users/fabian-animated-face-1000.6ee50ded.png" />
	<meta property="og:site_name" content="fabianbuentello.io"/>
	<meta property="og:description" content="Curiosity is what motivates me to work harder."/>
	<meta property="og:url" content="http://fabianbuentello.io/"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<title>Fabian | Developer</title>
	<meta name="description" content="Curiosity is what motivates me to work harder.">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" type="image/png" href="/images/users/computer.b0ecac64.png"/>

	<link rel="stylesheet" href="styles/main.3e62f283.css">
	<script src="//load.sumome.com/" data-sumo-site-id="c51d34cb286900a65e5cc1de45aac8860c81e0034ff0025891c2105b21e3d2f4" async="async"></script>

  </head>
	<body>
	<!--[if lt IE 7]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Add your site or application content here -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=839867922725468";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<nav-bar></nav-bar>


	<div class="content">
		<div class="content-inner">

			<section class="container">
				<h1 class="heading text-center multiColor" style="font-weight:300">Powered by Curiosity</h1>
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
						<div class="text-center">
							<p>Software Developer</p>
							<p>Houston,TX</p>
						</div>

						<p>Here's the part of the website where I tell you how I'm a hard worker and that I'm very passionate about programming, but that would be an understatement. The truth is, I am very good at what I do because it's what I enjoy doing. I want to become the best developer I can be, and that drive is fueled by one simple thing, my curiosity.</p>
					</div>
				</div>
			</section>

					<!-- LANGUAGES -->
			<section class="container">
				<div class="row">
					<h2 class="content-sub-heading multiColor">Fabian's Favorite Four</h2>
					<div class="col-sm-6" ng-repeat="lang in languages">
						<div ng-show="lang" class="tile-wrap language">
							<div class="tile tile-collapse">
								<div class="tile-inner langColor {{lang.langClass}}">
									<div class="text-overflow">{{lang.name}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>


	<footer class="footer">
		<div class="container">
			<div class="col-xs-12">
				<p style="margin: 5px 0px;">fabian.buentello@gmail.com</p>
				<div style="margin-bottom:10px" class=" row fb-like" data-href="http://fabianbuentello.io/" data-width="400" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
			</div>
		</div>
	</footer>
	<div class="fbtn-container" ng-init='isClicked = false'>
		<div class="fbtn-inner" ng-class="{'openThis':isClicked}">
			<a class="fbtn multiBGColor fbtn-lg" style="color:white;" ng-click="isClicked = !isClicked" data-toggle="dropdown">
			<span class="fbtn-text">Links</span>
			<span class="fbtn-ori icon icon-open-in-new"></span>
			<span class="fbtn-sub icon icon-close"></span></a>
			<div class="fbtn-dropdown">
				<a class="fbtn" href="https://github.com/initFabian" target="_blank">
				<span class="fbtn-text">Follow me on github</span>
				<span class="fa fa-github"></span></a>
				<a class="fbtn fbtn-blue" href="https://twitter.com/initFabian" target="_blank">
				<span class="fbtn-text">Follow Fabian on Twitter</span>
				<span class="fa fa-twitter"></span></a>
			</div>
		</div>
	</div>

	<div style="visibility:hidden">Icons made by <a href="http://www.flaticon.com/authors/icon-works" title="Icon Works">Icon Works</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	 <script>
	   !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
	   (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
	   r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
	   }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	   ga('create', 'UA-65974674-1');
	   ga('send', 'pageview');
	</script>
	 <script src="scripts/vendor.e77b40c1.js"></script>

	<script src="scripts/scripts.252b73f6.js"></script>
</body>
</html>
