.disabled {
	pointer-events: none;
 cursor: default;
}

.header.fixed, .header.open, .menu-open .header {
        background-color: #5E5E5E;
    }
    .multiColor {
        color: #9E9E9E;
    }
    .multiBGColor,
    .header .nav>li>a .header-close:after {
        background-color: #9E9E9E;
    }

.content-heading {
	background: url(../images/backgrounds/houston.jpg) no-repeat center;
    /*display: table;*/
    height: 40%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 90px 0 70px 0;
    text-align: center;
}


.language {

    .tile {
        background-color: #e2e2e2;
        .langColor {
            background-color: #fff;;
        }
        .javascript{
            background-color: #c8102e;
            width: 90%;
            a {
                color: #c8102e;
            }
        }
        .iOS {
            background-color: #9c27b0;
            width: 95%;
            a {
                color: #9c27b0;
            }
        }
        .android {
            background-color: #4caf50;
            width: 50%;
        }
        .htmlCSS {
            background-color: #2196f3;
            width: 85%;
            a {
                color: #2196f3;
            }
        }
        .rubyOnRails {
            background-color: #2196f3;
            width: 67%;
            a {
                color: #2196f3;
            }
        }
        .php {
            background-color: #2196f3;
            width: 85%;
            a {
                color: #2196f3;
            }
        }
        // need to put this class inside of all tags
        .aTagInsideLanguage {
                color: #4caf50;
            }
    }
}


.tileHeader {
    font-weight:300;
}