<section class="container">
	<div class="row margin10">
		<div class="col-xs-12">
			<a class="pull-left" ui-sref="blog.NBA_Machine_Learning_Tutorial1">
			<i class="fa fa-arrow-left"></i>Read in Data
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div class="titleDate">
				<h1 class="heading multiColor" id="chapter-2">Chapter 2. Clean Data</h1>
				<h5 class="tileHeader">7/24/2015</h5>
			</div>
			<h2 class="heading multiColor" id="intro">Intro</h2>
			<p>The following command will sync your repo with mine if you're having issues:</p>
			<p class="console">$ git checkout startChapter2 -f</p>
			<p>When it comes to machine learning, you're going to spend the majority of your development cleaning and structuring the data. If you look at the image below, you'll see that we have a few issues in the data.</p>
			<ul>
				<li>The first row is empty.</li>
				<li>Headers being repeated.</li>
				<li>Empty columns.</li>
			</ul>
			<img class="tutImage" src="images/tutorialImages/excel_01.d50b6ea5.png" alt="excel issues">
		</div>
	</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<u><p class="humorText">He tests me, he tests me not.</p></u>
			<img class="tutImage" src="images/tutorialImages/test_test_not.43e43de0.gif" alt="test_test_not">
			<p>We need to tell our program when we want to test something out or not in the terminal. Let's add a few parameters, change <code>Main Function</code>:
			</p>
		</div>
	</div>
</section>

<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:140px">/**
- Main Function
*/
(function () {
// Code in here
// Stays the same
})();</div>
</div>
</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>to</p>
		</div>
	</div>
</section>
<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:140px">/**
- Main Function
*/
(function (task, isTest) {
// Code in here
// Stays the same
})(process.argv[2], process.argv[3]);</div>
</div>
</div>
</section>


<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>If you've never seen this before, it's OK. Just check out this <a href="http://stackoverflow.com/questions/4351521/how-to-pass-command-line-arguments-to-node-js">StackOverflow answer</a>, it gives a great explanation of what's going on. I rarely use/see this in a lot of code anyways. What we're going to do is pass in two arguments when we run the data.  Our first argument will either be "<kbd>=BUILD</kbd>" or "<kbd>=CLEAN</kbd>" and our 2nd argument can be "<kbd>TEST</kbd>". The reason why we have a test argument is so that we don't have to generate all the seasons when we're testing. So the command we run will be one of the following:</p>
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p class="console">$ node buildNBA_Data.js =BUILD</p>
			<p class="console">$ node buildNBA_Data.js =CLEAN</p>
			<p class="console">$ node buildNBA_Data.js =BUILD TEST</p>
			<p class="console">$ node buildNBA_Data.js =CLEAN TEST</p>
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Now, replace the existing <code>Functions Section</code> with the following code, and I'm going to explain it piece by piece.</p>
		</div>
	</div>
</section>

<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:500px">/* Functions Section
============================================= */

/**
*Function Name: cleanData
*Parameters: array of file paths
*RUN: node misc_NBA_Data.js =CLEAN
*/
var cleanData = function(paths) {
	//Clean up time!
	console.log(paths);
	console.log('*****DONE CLEANING DATA*****');
};

/**
*Function Name: buildData
*Parameters: array of file paths
*RUN: node misc_NBA_Data.js =BUILD
*/
var buildData = function(paths) {
	async.each(paths, function (path, _aCallback) {

		// Create File Stream
		var inputStream = fs.createReadStream(path);

		// Read in CSV file
		fast_csv.fromStream(inputStream,{
			headers: true,
			ignoreEmpty: true
		})
		.transform(function(data){
			// We might need this, im not sure...
			// Foreshadowing!!!!!
			return data;
		})
		.on("data", function(data){
			console.log(data);
		})
		.on("end", function(){
			console.log("done");
			_aCallback();
		});

	}, function (err) {
		console.log('*****DONE BUILDING DATA*****');
	});
};

/**
- Main Function
*/
(function (task, isTest) {

	// 1
	if (['=BUILD','=CLEAN'].indexOf(task) === -1) {
		console.log('You did not pick an available task.');
		return ;
	}

	// Type of stats
	var STATS = ['totals', 'advanced'];

	// 2
	var endYr = (isTest) ? 1982 : 2016;

	// 3
	var pathList = function(begPath) {
		return _.flatten(_.map(STATS, function (stat) {

			return _.map(_.range(1981,endYr), function (year) {
				var finalStr = [begPath,stat,'/leagues_NBA_',
								year,'_',stat,'.csv'].join('');

				return finalStr;
			});
		}));
	};

	// Divider ===================================

	//4
	if (task === '=BUILD') {
		console.log('*****BUILDING DATA*****');
		buildData(pathList('./data/output/'));
	}
	else if(task === '=CLEAN'){
		console.log('*****CLEANING DATA*****');
		cleanData(pathList('./data/csv/'));
	} else {
		console.log('*scratching head* how you got here?');
	}

})(process.argv[2], process.argv[3]);
</div>
</div>
</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<u><p class="partDesc"><strong>Inside of Main Function</strong></p></u>
			<p><u><strong>Part 1</strong></u> - We check our <code>task</code> argument and we see if it is inside of our array of <code>allowed tasks</code>. If it is not in the array, we end the program.</p>
			<p><u><strong>Part 2</strong></u> - We made a new variable <code>endYr</code>, it's value depends on whether or not <code>isTest</code> is set. If <code>isTest</code> is set, I'm only allowing our <code>_.range()</code> function to go up to 1982 because I  don't want to generate all the file paths, just a few. You can change the number if you want.</p>
			<p><u><strong>Part 3</strong></u> - We turned <code>pathList</code> into a function that takes in an argument. Depending on <code>beg</code>, we'll either generate the file paths to our <code>./data/csv/</code> or <code>./data/output/</code> folder.</p>
			<p><u><strong>Part 4</strong></u> - Depending on what task you choose, we set the <code>beg</code> to the appropriate path. Then we send you to either <code>buildData()</code> which contains our <code>fast_csv</code> code, or our new function called <code>cleanData()</code>.</p>
			<p>Go ahead and run the code with a combination of <kbd>=BUILD</kbd> <kbd>=CLEAN</kbd> and <kbd>TEST</kbd> to make sure everything is working properly. If not, don't worry there's a <em>Code Checkup</em> at the end of this section. Now that all of that is done, let's get back to what we wanted to do to begin with, which is to clean up the data.  Make your <code>cleanData()</code>(top of <code>Function Section</code>) look like this:</p>
		</div>
	</div>
</section>

<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:280px">var cleanData = function(paths) {

	// 1
	async.each(paths, function(filePath, callback) {
		// 2
		fs.readFile(filePath, function(err, data) {
			if(err) throw err;
			var data_Str = data.toString();
			console.log(data_Str);
			callback();
		});
	},function (err) {
		console.log('*****DONE CLEANING DATA*****');
	});
};</div>
</div>
</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p><u><strong>Part 1</strong></u> -  I don't feel I have to explain this again after this. For every <code>filePath</code> inside of our <code>paths</code> variable, we repeat the following.</p>
			<p><u><strong>Part 2</strong></u> - We read the data from the <code>filePath</code>,  then we <code>console.log()</code> the data. From now on I will be running everything with the <kbd>TEST</kbd> argument set. I will explicitly tell you when not to. Go ahead and run it:</p>
		</div>
	</div>
</section><section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p class="console">$ node buildNBA_Data.js =CLEAN TEST</p>
			<p>You should've gotten a result like this:</p>
			<img class="tutImage" src="images/tutorialImages/console_004.4bfc8eb8.png" alt="console_004.png">
		</div>
	</div>
</section>





<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>OK cool, I think we can work with this. Had we not set the "<strong>TEST</strong>"  variable, we would have printed out every single line on those CSV files. Don't believe me? try it! Here's a quick recap of what we are trying to fix:</p>
			<ol>
				<li>The first row is empty.</li>
				<li>Headers being repeated.</li>
				<li>Empty columns.</li>
			</ol>
			<p>Let's start off with 3. If you scroll up on your terminal till you get to the gap, you should see the following:</p>
			<img class="tutImage" src="images/tutorialImages/console_005.63c79488.png" alt="console_005.png">
		</div>
	</div>
</section>





<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Do you see those <code>,,</code>? These are our empty columns. Place the following two lines before our <code>console.log()</code> inside of <code>cleanData()</code>:</p>
		</div>
	</div>
</section>


<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:60px">// Remove double commas
data_Str = data_Str.replace(/,,/g,',0,');
var data_Arr = data_Str.split("\n");</div>
</div>
</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

		</div>
	</div>
</section>


<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>run it:</p>
			<p class="console">$ node buildNBA_Data.js =CLEAN TEST</p>
		</div>
	</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>We're going to replace every <code>,,</code> with <code>,0,</code>.  I know what you're thinking, <strong><em>"Fabian, but then I'm just going to have a column full of zeros!"</em></strong> Jimmy, what have I told you about worrying? Don't worry, I got <strong>CHU</strong>. The reason we are replacing them with a <code>,0,</code> is because some stats just aren't there. Plus We don't want to shift the entire row over. Check out what I mean, had we used this --&gt; <code>replace(/,,/g,',');</code>, Kareem Abdul-Jabbar would've started 2976 games in 1981. Count the commas inside of the red lines!</p>
			<img class="tutImage" src="images/tutorialImages/console_006.6b5d3668.png" alt="console_006.png">
		</div>
	</div>
</section>








<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Did any of you wonder why there was a gap when we printed out the data?
			(You don't have to raise your hand, Jimmy. )</p>
			<p>Yes, because of the empty row at the beginning of each file. We're going to solve that next, but first <code>console.log(data_Arr)</code> instead of <code>data_Str</code> and run it:</p>
			<p class="console">$ node buildNBA_Data.js =CLEAN TEST</p>
			<p>If you scroll all the way to the beginning of the last array, you should see an empty row.</p>
			<img class="tutImage" src="images/tutorialImages/console_007.7308b8d6.png" alt="console_007.png">
		</div>
	</div>
</section>








<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>AH HA! We caught the <strong><em>Empty Row Bandit</em></strong> red handed!!(Say that 10 times)
			Now inside of <code>CleanData()</code>, insert these lines before <code>console.log(data_Arr)</code>:</p>
		</div>
	</div>
</section>


<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:80px">// Check if first row is empty
if (!data_Arr[0].length) {
	data_Arr.shift();
}</div>
</div>
</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>We are going to use the <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/shift">shift()</a></code> method to remove the first row. Let's run it one more time and see if we sent the <strong><em>Empty Row Bandit</em></strong> to the gates of <strong>HELL</strong>! Ok, maybe that was a bit too much.</p>
			<img class="tutImage" src="images/tutorialImages/console_008.c66faf3f.png" alt="console_008.png">
		</div>
	</div>
</section>








<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Don't want to sound like <strong>Freddy</strong> from <strong>Scooby-Doo</strong>, but <strong><em>"looks like we did it, gang!"</em></strong> That's two down, only one more to go and that is the repeating headers. What we are going to do is remove all the repeating headers, and we'll insert our own header in the next step. Go ahead and paste the following before our <code>console.log(data_Arr)</code>:</p>
		</div>
	</div>
</section>


<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:60px">data_Arr = _.filter(data_Arr, function (_str) {
	return (_str.indexOf('Rk,Player'));
});</div>
</div>
</div>
</section>


<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>You guessed it, we're going to use <code>underscoreJS</code> again. This time its <code><a href="http://underscorejs.org/#filter">_.filter()</a></code>, I actually learned something from this function.  This whole time I thought <code>-1</code> is <code>False</code>, but it's not, it's a <code>True</code> value. So what's happening is, the <code>indexOf('Rk,Player')</code> starts at <code>index 0</code> of the string. Therefore, when it is present it returns <code>false</code>. had we used <code>indexOf('k,Player')</code>, it wouldn't work properly. I didn't want to just use <code>indexOf('Rk')</code>, in the case of some person's name actually starting with that.</p>
			<p>If you're still confused about it like I was, run the following code in <strong><a href="https://repl.it/">repl.it</a></strong>, it should explain what's happening.</p>
		</div>
	</div>
</section>


<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:500px">//RUN IN REPL.IT

str_ONE = 'Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,';
str_TWO = '1,Kareem Abdul-Jabbar*,C,33,LAL,80,2976,25.5,.616,.0';

test1 = str_ONE.indexOf('Rk,Player'); // Starting 0, False
test2 = str_ONE.indexOf('k,Player'); // Starting 1, True

test3 = str_TWO.indexOf('Rk,Player');

if (test1) {
	//This shouldn't print
	console.log('test1 is true, we return it in our _.filter() function');
} else {
	console.log('test1 returned',test1,'in our filter().',
	'therefore we dont return it.');
}

if (test2) {
	//This should print
	console.log('test2 is true, we return it in our _.filter() function',
	'with a value of',test2);
} else {
	console.log(test2);
}

if (test3) {
	//This should print
	console.log('test3 is true, we return it in our _.filter() function',
	'with a value of',test3);
} else {
	console.log(test3);
}
</div>
</div>
</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>We're so close guys, almost done cleaning the data. <strong>So why are we removing all the headers? </strong> Well Jimbo, when I made this project, I realize that some of the headers didn't match up. Let me show you what I mean, check out the photo below.</p>
			<img class="tutImage" src="images/tutorialImages/headerCheck.b8c687cc.png" alt="headerCheck.png">
		</div>
	</div>
</section>








<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Do you see how a portion of the headers from the <code>totals</code> don't match up? It's stuff like this that you have to fix when cleaning your data. Or you'll end up like me, and have half your data missing when querying your database.</p>
			<p>Now all we have to do is insert our header. Go ahead and add this function to your <code>Helper Section</code>:</p>
		</div>
	</div>
</section>

<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:300px">var getHeader = function (path) {
	var statObj = {
		'totals': 'Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS',
		'advanced': 'Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,0,OWS,DWS,WS,WS/48,0,OBPM,DBPM,BPM,VORP'
	};
	var header = _.map(statObj, function (val, key) {
		// 1
		if (path.indexOf(key) &gt; -1) {
			// 2
			return val;
		}
	});
	console.log(header);
	// 3
	return _.compact(header)[0];
};</div>
</div>
</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p><u><strong>Part 1</strong></u> - <code>key</code> can either equal <code>totals</code> or <code>advanced</code>. We then check if the word <code>totals</code>  or <code>advanced</code> appears inside the string <code>path</code> which we passed as an argument to <code>getHeader()</code>.</p>
			<p><u><strong>Part 2</strong></u> - We then return the <code>val</code> of the stat(<code>totals</code>, <code>advanced</code>) that appeared in the string <code>path</code>.</p>
			<p><u><strong>Part 3</strong></u> - We're going to use the <code><a href="http://underscorejs.org/#compact">_.compact()</a></code> function from the <code>underscoreJS</code> module to remove all <code>falsy</code> values.</p>
			<p>So let's use this bad boy, go back to <code>cleanData()</code>, and paste the following line after our <code>_.filter()</code> function:</p>
		</div>
	</div>
</section>


<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:20px">var finalHeader = getHeader(filePath);</div>
</div>
</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Change out <code>console.log(data_Arr)</code> for <code>console.log(finalHeader)</code>.
			Before we run it, our <code>cleanData()</code> should look like this:</p>
		</div>
	</div>
</section>


<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:500px">var cleanData = function(paths) {

	async.each(paths, function(filePath, callback) {
		// get data from file
		fs.readFile(filePath, function(err, data) {
			if(err) throw err;
			var data_Str = data.toString();
			// Remove double commas
			data_Str = data_Str.replace(/,,/g,',0,');
			var data_Arr = data_Str.split("\n");

			// Check if first row is empty
			if (!data_Arr[0].length) {
				data_Arr.shift();
			}

			data_Arr = _.filter(data_Arr, function (_str) {
				return (_str.indexOf('Rk,Player'));
			});

			var finalHeader = getHeader(filePath);
			console.log(finalHeader);

			callback();
		});
	},function (err) {
		console.log('*****DONE CLEANING DATA*****');
	});
};
</div>
</div>
</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Ok let's run it:</p>
		</div>
	</div>
</section>


<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p class="console">$ node buildNBA_Data.js =CLEAN TEST</p>
		</div>
	</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Your console should look like this:</p>
			<img class="tutImage" src="images/tutorialImages/console_010.5d34c40d.png" alt="console_010.png">
		</div>
	</div>
</section>









<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>I know what you're thinking Slim Jim. It's been bothering you for quite some time now. Something about <code>getHeader()</code> just don't seem right.</p>
			<img class="tutImage" src="images/tutorialImages/tim_duncan_smell.7ac78b42.gif" alt="tim_duncan_smell.gif">
			<p>Let's combine <u><strong>Part 2</strong></u> and <u><strong>Part 3</strong></u> so <code>getHeader()</code> looks like this.</p>
		</div>
	</div>
</section>



<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:260px">var getHeader = function (path) {
	var statObj = {
		'totals': 'Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS',
		'advanced': 'Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,0,OWS,DWS,WS,WS/48,0,OBPM,DBPM,BPM,VORP'
	};
	return _.compact(_.map(statObj, function (val, key) {
		// key = totals || advanced
		// If key exist inside of path
		if (path.indexOf(key) &gt; -1) {
			// Returns the value at statObj[statType]
			return val;
		}
	}))[0];
};</div>
</div>
</div>
</section>



<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>AHHHH much better! Now let's just add our <code>finalHeader</code> to the beginning of the file and then we're good, right? A couple more lines, and we officially finished cleaning our data. Inside of <code>cleanData()</code> at the bottom of <code>fs.readFile()</code>, insert the following lines above <code>callback()</code>:</p>
		</div>
	</div>
</section>


<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:100px">// 1
data_Arr.unshift(finalHeader);
// 2
var outputPath = filePath.replace(/csv/,'output');
// 3
fs.writeFileSync(outputPath, data_Arr.join('\n'));</div>
</div>
</div>
</section>




<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p><u><strong>Part 1</strong></u> - Remember that <code>shift()</code> method we used earlier? <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/unshift">unshift()</a></code> is simply the opposite. Meaning we added <code>finalHeader</code> at the front of the array.</p>
			<p><u><strong>Part 2</strong></u> - <code>.replace(/csv/,'output')</code> will replace the first instance of <b>csv</b> that it finds with <b>output</b>. Meaning we will be writing to our <i class="fa fa-folder"></i> output folder. We set this new path to <code>outputPath</code>.</p>
			<p><u><strong>Part 3</strong></u> - We are going to use <code>outputPath</code> to write the file. Since <code>data_Arr</code> is an array, we use the <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/join">.join()</a></code> method to make it one big string  Separated by new lines.</p>
			<p>Let's test it before we apply it to all our data.</p>
			<p class="console">$ node buildNBA_Data.js =CLEAN TEST</p>
			<p>Open up your <code>testData/advanced/leagues_NBA_1981_advanced.csv</code> file and make sure everything looks correct. It should look like this:</p>
			<img class="tutImage" src="images/tutorialImages/sublime_01.2dc0b463.png" alt="sublime_01.png">
		</div>
	</div>
</section>






<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<h3 class="heading multiColor" id="code-checkup">Code Checkup</h3>
			<p>Your <code>buildNBA_Data.js</code> should look like this:</p>
		</div>
	</div>
</section>


<section class="container">
<div class="row">
<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<div class="codeView" style="height:500px">/* Modules Section
============================================= */

var _ = require("underscore");
var fs = require('fs');
var fast_csv = require("fast-csv");
var async = require("async");

// End of Modules

/* Helper Section
============================================= */
var getHeader = function (path) {
	var statObj = {
		'totals': 'Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS',
		'advanced': 'Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,0,OWS,DWS,WS,WS/48,0,OBPM,DBPM,BPM,VORP'
	};
	return _.compact(_.map(statObj, function (val, key) {
		// key = totals || advanced
		// If key exist inside of path
		if (path.indexOf(key) > -1) {
			// Returns the value at statObj[statType]
			return val;
		}
	}))[0];
};
// End of Helper

/* Functions Section
============================================= */

/**
*Function Name: cleanData
*Parameters: array of file paths
*RUN: node misc_NBA_Data.js =CLEAN
*/
var cleanData = function(paths) {

	async.each(paths, function(filePath, callback) {
		// get data from file
		fs.readFile(filePath, function(err, data) {
			if(err) throw err;
			var data_Str = data.toString();
			// Remove double commas
			data_Str = data_Str.replace(/,,/g,',0,');
			var data_Arr = data_Str.split("\n");

			// Check if first row is empty
			if (!data_Arr[0].length) {
				data_Arr.shift();
			}

			data_Arr = _.filter(data_Arr, function (_str) {
				return (_str.indexOf('Rk,Player'));
			});

			var finalHeader = getHeader(filePath);
			console.log(finalHeader);

			data_Arr.unshift(finalHeader);
			var outputPath = filePath.replace(/csv/,'output');

			fs.writeFileSync(outputPath, data_Arr.join('\n'));
			callback();
		});
	},function (err) {
		console.log('*****DONE CLEANING DATA*****');
	});
};


/**
*Function Name: buildData
*Parameters: array of file paths
*RUN: node misc_NBA_Data.js =BUILD
*/
var buildData = function(paths) {
	async.each(paths, function (path, _aCallback) {

		// Create File Stream
		var inputStream = fs.createReadStream(path);

		// Read in CSV file
		fast_csv.fromStream(inputStream,{
			headers: true,
			ignoreEmpty: true
		})
		.transform(function(data){
			// We might need this, im not sure...
			// Foreshadowing!!!!!
			return data;
		})
		.on("data", function(data){
			console.log(data);
		})
		.on("end", function(){
			console.log("done");
			_aCallback();
		});

	}, function (err) {
		console.log('*****DONE BUILDING DATA*****');
	});
};

/**
- Main Function
*/
(function (task, isTest) {


	// Allowed Tasks
	if (['=BUILD','=CLEAN'].indexOf(task) === -1) {
		console.log('You did not pick an available task.');
		return ;
	}

	// Type of stats
	var STATS = ['totals', 'advanced'];

	// If Test is set, only get a few years
	var endYr = (isTest) ? 1982 : 2016;


	// Get generate our list of file paths
	var pathList = function(begPath) {
		return _.flatten(_.map(STATS, function (stat) {

			return _.map(_.range(1981,endYr), function (year) {
				var finalStr = [begPath,stat,'/leagues_NBA_',
								year,'_',stat,'.csv'].join('');

				return finalStr;
			});
		}));
	};


	// Divider ===================================

	// What task did user choose
	if (task === '=BUILD') {
		console.log('*****BUILDING DATA*****');
		buildData(pathList('./data/output/'));
	}
	else if(task === '=CLEAN'){
		console.log('*****CLEANING DATA*****');
		cleanData(pathList('./data/csv/'));
	} else {
		console.log('*scratching head* how you got here?');
	}

})(process.argv[2], process.argv[3]);

</div>
</div>
</div>
</section>
<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Once you check that everything is correct let's run it for production!</p>
			<p class="console">$ node buildNBA_Data.js =CLEAN</p>
			<p>Your console should look like this:</p>
			<img class="tutImage" src="images/tutorialImages/console_011.09d643c4.png" alt="console_011.png">
		</div>
	</div>
</section>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Well gang, looks like we finally finished cleaning our data... for now. We just have to structure it and we're one step closer to Machine Learning.</p>
			<img class="tutImage" src="images/tutorialImages/school_of_rock.63decf24.gif" alt="school_of_rock">

		</div>
	</div>
	<div class="col-xs-12">
		<h3 class="heading multiColor">
		<a class="pull-right" ui-sref="blog.NBA_Machine_Learning_Tutorial3">
			Chapter 3 <i class="fa fa-arrow-right"></i>
		</a>
		</h3>
	</div>
</section>
