<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div class="titleDate">
				<h1 class="heading multiColor" id="chapter-1">Chapter 1. Read in Data</h1>
				<h5 class="tileHeader">7/24/2015</h5>
			</div>
			<p>Go ahead clone the repo using the following command:</p>

			<p class="console">$ git clone https://github.com/fbuentello/NBA-Machine-Learning-Tutorial</p>

			<p class="console">$ cd NBA-Machine-Learning-Tutorial/</p>
			<p>Now let's start from the beginning:</p>
			<p class="console">$ git checkout startChapter1</p>

			<div class="directorySection">
				<p>Your directory should look like this:</p>
				<p><i class="fa fa-folder-open"></i>NBA-Machine-Learning-Tutorial</p>
				<p><i class="fa fa-folder-open tabOver"></i> data</p>
				<p><i class="fa fa-folder-open tabOver2"></i> csv</p>
				<p><i class="fa fa-folder-open tabOver3"></i> advanced</p>
				<p><i class="fa fa-folder-open tabOver3"></i> totals</p>
				<p><i class="fa fa-file tabOver"></i> buildNBA_Data.js</p>
				<p><i class="fa fa-file tabOver"></i> package.json</p>
			</div>



		</p>
		<h3 class="heading multiColor" id="lets-get-started">Let's get started</h3>
		<p>The first step with machine learning is to gather all your data. Luckily for us, <a href="http://www.basketball-reference.com/" title="Basketball-Reference">Basketball-Reference</a> granted me permission to make a portion of their data available for you(in repository). So we know what we want to predict, the PER stat. Now it's just a matter of knowing what Features(stats) we are going to use as input. Fortunately for us, Zach Fien's article <i><a href="http://bleacherreport.com/articles/113144-cracking-the-code-how-to-calculate-hollingers-per-without-all-the-mess">Cracking the Code: How to Calculate Hollinger's PER Without All the Mess</a></i> did a great job in doing just that. In Zach's article, he explains how he used the stats below to calculate a player's PER without having to use Hollinger's formula. Of course Zach's formula is off by a bit since he is not using Hollinger's formula, but it's close enough for us.</p>

		<div class="directorySection margin10">
			<p><b>Features(Input):</b></p>
			<i><p class="feats">FGM</p></i>
			<i><p class="feats">Stl</p></i>
			<i><p class="feats">3PTM</p></i>
			<i><p class="feats">FTM</p></i>
			<i><p class="feats">Blk</p></i>
			<i><p class="feats">Off. Reb</p></i>
			<i><p class="feats">Ast</p></i>
			<i><p class="feats">Def. Reb</p></i>
			<i><p class="feats">Foul</p></i>
			<i><p class="feats">FT Miss</p></i>
			<i><p class="feats">FG Miss</p></i>
			<i><p class="feats">TO</p></i>

			<p><b>Predict(Output):</b></p>
			<i><p class="feats">PER</p></i>
		</div>

		We're only going to have to look at two tables, <a href="http://www.basketball-reference.com/leagues/NBA_2015_totals.html">Totals stats</a> and <a href="http://www.basketball-reference.com/leagues/NBA_2015_advanced.html">Advanced stats</a>. The Totals stats table has all the Features(Input) we need. The Advanced stats table contains the PER stat which is what we are trying to predict(Output).</p>



		<p>Next we're going to get all the stats from 1980 to 2015, why 1980? Two Reasons: </p>
		<ol>
			<li>In the 1979-1980 season, the NBA added the three point line . Why is this important? The 3-pointer is a very important stat in calculating PER. </li>
			<li>I think even numbers are sexy, and 1979 is not a sexy number. So we're going to be using all the seasons between the years 1980-2015. </li>
		</ol>
		<h3 class="heading multiColor" id="time-to-code">Time to Code</h3>
		<p> I want to mention that I split up this file into three sections, <kbd>Module Section</kbd> <kbd>Helper Section</kbd> and <kbd>Function Section</kbd> just to help keep things organized. OK, Fabian shut up and let's get to coding. Remember to install all your NodeJS modules </p>
		<p class="console">$ npm install</p>

		<h2 class="heading multiColor" id="generate-file-paths">Generate file paths</h2>
		<p>What's the first step? That would be reading in the CSV files, but we don't even have the paths to all those files.
			<p class="humorText">If you think we're going to type out 70 file paths, expect the following to happen to you:</p>
			<img class="tutImage" src="images/tutorialImages/George_Of_the_Jungle.4e7140e9.gif" alt="White Goodman are you ready?">
			Paste the follow in your <u><b>buildNBA_Data.js</b></u>:</p>
		</div>
	</div>
</section>


<div class="codeView" style="height:500px">/* Modules Section
============================================= */

var _ = require("underscore");

// End of Modules

/* Helper Section
============================================= */

// End of Helper

/* Functions
============================================= */

/**
- Main Function
*/
(function () {
	// Type of stats
	var STATS = ['totals', 'advanced'];

	// 1.A
	var pathList = _.map(STATS, function (stat) {

		// 1.B
		return _.map(_.range(1981,2016), function (year) {
			// 1.C
			var finalStr = ['./data/csv/',stat,'/leagues_NBA_',
							year,'_',stat,'.csv'].join('');

			return finalStr;
		});
	});

	// 2
	_.flatten(pathList).forEach(function (path) {
		console.log(path);
	});
})();</div>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p><strong>Main Function</strong>
				- If this is your first time seeing a self-executing anonymous function, check out <a href="http://esbueno.noahstokes.com/post/77292606977/self-executing-anonymous-functions-or-how-to-write">this article</a>. Anonymous functions are a great way to start off your program, plus they're sexy.
			</p>

			<u><p class="partDesc"><strong>Part 1</strong></p></u>

			<p class="tabOver"><strong>A</strong> -  if you have never seen this <code><a href="http://underscorejs.org/#map">_.map()</a></code> function it's OK. It's a method from the <code>underscoreJS</code> module that we imported above. It is essentially a <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach">forEach()</a></code> statement like  you would use on an array.  The main difference being, the <code>_.map()</code> function returns data, unlike the <code>forEach()</code> method. If you have never used <a href="http://underscorejs.org/">underscoreJS</a> before, I highly recommend you start. I regret not using it sooner.</p>

			<p class="tabOver"><strong>B</strong> - I know what you're thinking, <strong><em>"Fabian you don't have to explain the <code>_.map()</code> function again, I understand it!"</em></strong> I know you understand it Jimmy(I'm going call you that). Look inside of that map function, you'll see a new function called <code><a href="http://underscorejs.org/#range">_.range()</a></code>. This function lets you create an array, without having to create an array. Inside of <code>_.range()</code> you have a START number and you increment by one all the way to [but not including] the END number. </p>

			<p class="tabOver"><strong>C</strong> - This part is pretty simple to explain. What we're doing is, for each <code><var>year</var></code> we join an array of strings using the <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/join" title="join()">join()</a></code> method. Then we set it equal to a variable <code><var>finalStr</var></code>, for which we return.</p>

			<p><strong><code><var>pathList</var></code></strong> - so once we finish our little mini <strong><em>"callback from hell"</em></strong> we'll end up with an array of two arrays. The first array being all the paths for our totals stats. The second array being all the paths to our advanced stats. </p>

			<u><p class="partDesc"><strong>Part 2</strong></u></p>
			<p> - I know you see that little  <code>_</code>, can you guess what <code><a href="http://underscorejs.org/#flatten">_.flatten()</a></code> does? If you guessed <strong><em>"Can Fabian stop with the damn questions..."</em></strong>, You guessed wrong. <code>_.flatten()</code> is going to turn our array of arrays(<code><var>pathList</var></code>) into one big array.</p>
			<p>Run the code with: </p>
			<p class="console">$ node buildNBA_Data.js</p>

			<p>And your terminal should look like this:</p>
		</div>
	</div>
</section>

<img class="tutImage" src="images/tutorialImages/console_001.9accee37.png" alt="console_001.png">

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>So now that we have all our paths in our <code><var>pathList</var></code>, we now have to read the files. But before we get to that, something in our code isn't very sexy. Let's combine <strong>Part 1</strong> and <strong>Part 2</strong> so that our <code>Main Function</code> looks like this:
			</p>
		</div>
	</div>
</section>



<div class="codeView" style="height:360px">/**
* Main Function
*/
(function () {
	// Type of stats
	var STATS = ['totals', 'advanced'];

	// 1
	var pathList = _.flatten(_.map(STATS, function (stat) {

		return _.map(_.range(1981,2016), function (year) {
			var finalStr = ['./data/csv/',stat,'/leagues_NBA_',
							year,'_',stat,'.csv'].join('');

			return finalStr;
		});
	}));

	// Divider ===================================


})();</div>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Before we start reading in the file paths we have to import three new modules to our <kbd>Module Section</kbd>.</p>
		</div>
	</div>
</section>

<div class="codeView" style="height:53px">var fs = require('fs');
var fast_csv = require("fast-csv");
var async = require("async");</div>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>We are going to be using our <code><a href="https://github.com/C2FO/fast-csv" title="fast_csv">fast_csv</a></code> variable to read in the CSV files.
				<code>fast_csv</code> will use the <code>fs</code>(file system) module which is built into NodeJS. We are going to be using the <code><a href="https://github.com/caolan/async" title="async">async</a></code> module to make sure everything happens in order. That's very important when messing with files. Just like <code>underscoreJS</code>, I wish I would have used <code>async</code> much sooner.
			</p>
			<p>Next, let's move to the bottom of our <code>Main Function</code> after our <code>// Divider====</code> line and add the following:</p>
		</div>
	</div>
</section>


<div class="codeView" style="height:195px">async.each(pathList, function (path, _aCallback) {

	// Create File Stream

	// Read in CSV file

	console.log(path);
	_aCallback();

}, function (err) {
	console.log('hey were done!!');
});</div>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>
				<strong><em>"Soooo what's the difference between <code>async</code> and <code>underscore</code>? because they look identical."</em></strong>
				Man Jimmy, you ask some really good questions. Unlike <code>underscore</code>, <code>async</code> lets you decide when you want to move to the next object in the <code>pathList</code>.  This is going to be very important when we use <code>fast_csv</code> to read in our data. Let's run this:
			</p>
			<p class="console">$ node buildNBA_Data.js</p>

			<p>Your terminal should look like this:</p>
		</div>
	</div>
</section>


<img class="tutImage" src="images/tutorialImages/console_002.7c1a8348.png" alt="console_002.png">


<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Let's start getting our fingers dirty. Place this line under the <code>// Create File Stream</code> comment:</p>
		</div>
	</div>
</section>
<div class="codeView" style="height:35px">// Create File Stream
var inputStream = fs.createReadStream(path);</div>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>This line allows us to read in the file which will then be used in our <a href="https://github.com/C2FO/fast-csv#transforming"><code>fast-csv</code> methods</a>. Go ahead and copy-n-paste the following code after <code>// Read in CSV file</code> and delete that <code>console.log()</code> and <code>_aCallback()</code> that was there earlier:</p>
		</div>
	</div>
</section>




<div class="codeView" style="height:280px">// Read in CSV file
fast_csv.fromStream(inputStream,{
	headers: true,
	ignoreEmpty: true
})
.transform(function(data){
	// We might need this, im not sure...
	// Foreshadowing!!!!!
	return data;
})
.on("data", function(data){
	console.log(data);
})
.on("end", function(){
	console.log("done");
	_aCallback();
});</div>
<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Let's run, shall we:</p>
			<p class="console">$ node buildNBA_Data.js</p>
			<p>You're terminal should look like this:</p>
		</div>
	</div>
</section>

<img class="tutImage" src="images/tutorialImages/console_003.d002c0dc.png" alt="console_003.png">
<section class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h3 class="heading multiColor" id="code-checkup">Code Checkup</h3>
				<p>OK, so we're about to get to the good part! Before we do, if your code is not working, replace all your code with the following.</p>
				<p>Your <code>buildNBA_Data.js</code> should look like this:</p>
			</div>
		</div>
	</section>
<div class="codeView" style="height:500px">/* Modules Section
============================================= */

var _ = require("underscore");
var fs = require('fs');
var fast_csv = require("fast-csv");
var async = require("async");

// End of Modules

/* Helper Section
============================================= */

// End of Helper

/* Functions
============================================= */

/**
- Main Function
*/
(function () {
	// Type of stats
	var STATS = ['totals', 'advanced'];

	// 1.A
	var pathList = _.map(STATS, function (stat) {

		// 1.B
		return _.map(_.range(1981,2016), function (year) {
			// 1.C
			var finalStr = ['./data/csv/',stat,'/leagues_NBA_',
							year,'_',stat,'.csv'].join('');

			return finalStr;
		});
	});

	// 2
	_.flatten(pathList).forEach(function (path) {
		console.log(path);
	});
})();

/**
* Main Function
*/
(function () {
	// Type of stats
	var STATS = ['totals', 'advanced'];

	// 1
	var pathList = _.flatten(_.map(STATS, function (stat) {

		return _.map(_.range(1981,2016), function (year) {
			var finalStr = ['./data/csv/',stat,'/leagues_NBA_',
							year,'_',stat,'.csv'].join('');

			return finalStr;
		});
	}));

	// Divider ===================================

	async.each(pathList, function (path, _aCallback) {

		// Create File Stream
		var inputStream = fs.createReadStream(path);

		// Read in CSV file
		fast_csv.fromStream(inputStream,{
			headers: true,
			ignoreEmpty: true
		})
		.transform(function(data){
			// We might need this, im not sure...
			// Foreshadowing!!!!!
			return data;
		})
		.on("data", function(data){
			console.log(data);
		})
		.on("end", function(){
			console.log("done");
			_aCallback();
		});

	}, function (err) {
		console.log('hey were done!!');
	});
})();</div>

<section class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<p>Now that we have access to all the data we need, we just have to structure. </p>
			<u><p class="humorText"> You may proceed to chapter 2</p></u>
			<img class="tutImage" src="images/tutorialImages/kick_door_down.67f4fd48.gif" alt="Obama kicks door down">
		</div>
		<div class="col-xs-12">
			<h3 class="heading multiColor">
			<a class="pull-right" ui-sref="blog.NBA_Machine_Learning_Tutorial2">
				Chapter 2 <i class="fa fa-arrow-right"></i>
			</a>
			</h3>
		</div>
	</div>
</section>
