<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">


		<h1 class="tileHeader multiColor text-center">Predict NBA ‘PER’ stat with Machine Learning</h1>



		<h5 class="tileHeader text-center">by Fabian Buentello<br>7/24/2015</h5>


		<h3 class="tileHeader page-header">Introduction</h3>

		<p>Before I get started, I want to say this is my first blog/tutorial ever. So bear with me if
		you find the structure this tutorial a bit unorthodox. I’m just going to follow the structure I
		see on some other online tutorials along with throwing a little "Fabian pizzazz" on it. This
		tutorial will be half tutorial, half blog, and half buzzfeed article. So we're talking about
		a 150% of pure awesomeness. Unfortunately, this article is not for the beginner/novice level.
		I’m going to assume you have experience with Python, Node.JS, and
		MongoDB. If not, don't worry, I will be linking you everything you need to get started throughout the tutorial.</p>

		<p>Due to the amount of details in this tutorial, some may find it lengthy. So if you want to go straight to the machine learning portion, follow the <a href="https://github.com/fbuentello/NBA-Machine-Learning-Tutorial" title="README file">README file</a>. If that's the case, you still need to do the end of Chapter 3.</p>

		<p>
			If you have little or no experience with machine learning, I recommend you quickly read over Dr. Konstantinova short article, <a href="http://nkonst.com/machine-learning-explained-simple-words/" title="Machine_learning_explained">Machine learning explained in simple words</a>.
		</p>

		<h3 class="tileHeader multiColor">What are we doing?</h3>

		<p>I’m going to show you the steps that I took in order to <u><b>clean</b></u>, <u><b>structure</b></u>, and <u><b>run the data</b></u> use to predict a players PER rating with an accuracy of at least 95%. This tutorial will be extremely detailed, so that no one gets lost. I’m going to break down this tutorial into four chapters:</p>

		<ul>
			<li>Chapter 1. Read Data</li>
			<li>Chapter 2. Clean Data</li>
			<li>Chapter 3. Output Data</li>
			<li>Chapter 4. Machine Learning</li>
		</ul>

		<p>We will be using two languages(<a href="https://nodejs.org/download/">NodeJS</a>, <a href="https://www.python.org/downloads/">Python3</a>) throughout this project.</p>

		<p>Ch 1. <strong>Read Data</strong></p>

		<p>We will be using NodeJS to do the following:</p>
		<ul>
			<li>Generate file paths.</li>
			<li>Read in the CSV files.</li>
		</ul>

		<p>Ch 2. <strong>Clean Data</strong></p>
		<ul>
			<li>Clean Data.</li>
		</ul>
		<p>Ch 3. <strong>Output Data</strong></p>
		<ul>
			<li>Structure Data.</li>
			<li>Export to MongoDB.</li>
		</ul>

		<p>Ch 4. <strong>Machine Learning</strong> <br>
			We will be using Python to go over the Machine Learning portion of this project. We will be connecting to MongoDB using python to read in the data for which we are then going to apply a linear regression algorithm to predict the player’s PER.
		</p>
		<p class="humorText">There's only one question I want to ask you...</p>
		<img class="tutImage" src="images/tutorialImages/are_you_ready.713635a5.gif" alt="White Goodman are you ready?">
			<h4 class="tileHeader multiColor">
				<a class="pull-right" ui-sref="blog.NBA_Machine_Learning_Tutorial1">
					Next <i class="fa fa-arrow-right"></i>
				</a>
			</h4>
		</div>
	</div>
