<nav class="menu" id="profile">
	<div class="menu-scroll">
		<div class="menu-wrap">
			<div class="menu-top">
				<div class="menu-top-img">
					<img alt="John Smith" src="images/backgrounds/houston_phone.jpg">
				</div>
				<div class="menu-top-info">
					<div class="menu-top-user">
						<span class="avatar pull-left">
							<img alt="alt text for John Smith avatar" src="images/users/avatar-001.jpg">
						</span>Fabian Buentello
					</div>
				</div>
			</div>
			<div class="menu-content">
				<ul class="nav">
					<li>
						<a href="javascript:void(0)" class="disabled"><span class="icon icon-account-box"></span>Software Developer</a>
					</li>
					<li>
						<a href="javascript:void(0)" class="disabled"><span class="icon icon-account-box"></span>Houston, TX</a>
					</li>
				</ul>
				<div class="col-xs-12">
					<h3 class="content-sub-heading multiColor">About Me</h3>
					<p>Ambitious developer passionate about creating Mobile and Web experiences for users. I enjoy working on projects that challenge me not only as a developer, but as a person as well. I find no pleasure in developing new technology using old languages. I am constantly pushing myself to learn new techniques to better myself as a developer.</p>
				</div>
			</div>
		</div>
	</div>
</nav>