<div class="col-lg-3 col-md-4 col-sm-6">
	<div class="card-wrap">
		<div class="card">
			<div class="card-main">
				<div class="card-img">
					<img alt="alt text" src="images/samples/landscape.jpg">
					<p class="card-img-heading">Some Text!</p>
				</div>
				<div class="card-inner">
					<p>
						Lorem ipsum dolor sit amet.<br>
						Consectetur adipiscing elit.
					</p>
				</div>
				<div class="card-action">
					<ul class="nav nav-list pull-left">
						<li>
							<a href="javascript:void(0)"><span class="icon icon-check text-blue"></span>&nbsp;<span class="text-blue">OK</span></a>
						</li>
						<li>
							<a data-dismiss="tile" href="javascript:void(0)"><span class="icon icon-close"></span>&nbsp;Cancel</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>