<div class="tile-wrap tile-wrap-animation">

	<div class="tile tile-collapse tile-collapse-full">
		<div class="tile-toggle" data-parent=".content" data-target="#tile-collapse-10" data-toggle="tile">
			<div class="pull-left tile-side">
				<div class="avatar avatar-blue avatar-sm">
					<span class="icon icon-alarm"></span>
				</div>
			</div>
			<div class="tile-inner">
				<div class="text-overflow">lorem ipsum dolor sit amet</div>
			</div>
		</div>
		<div class="tile-active-show collapse" id="tile-collapse-10">
			<div class="tile-sub">
				<p>Additional information<br><small>Aliquam in pharetra leo. In congue, massa sed elementum dictum, justo quam efficitur risus, in posuere mi orci ultrices diam.</small></p>
			</div>
			<div class="tile-footer">
				<ul class="nav nav-list pull-left">
					<li>
						<a href="javascript:void(0)"><span class="icon icon-check"></span>&nbsp;OK</a>
					</li>
					<li>
						<a data-dismiss="tile" href="javascript:void(0)"><span class="icon icon-close"></span>&nbsp;Cancel</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>