
body,html {
	text-align: center;
	height: 100%;
 width: 100%;
 font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue",
 Helvetica, Arial, "Lucida Grande", sans-serif;
 font-weight: 100;
 color: #545454;
 position: relative;
}

/* ==========================================================================
   Misc.
   ========================================================================== */
   ul {
    text-align: left;
  }

  .row {
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .sectionHeader {
    text-align: left;
    color:#919191;
  }

  .thumbnail {
    max-width: 250px;
    border: 0px;
    margin: auto;
    background-color: transparent;
  }

/* ==========================================================================
   Page Sections
   ========================================================================== */
   .Profile {
    margin-bottom: 63px;
  }

  .Skills {
   background-color: #F7F7F7;
   /*margin-bottom: 20px;*/
 }

 .Resume {
  margin-bottom: 20px;
}

/* ==========================================================================
   Parallax
   ========================================================================== */
   #jumboParallax {
    background: url(../images/houston_phone.jpg) no-repeat center;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 260px 0 160px 0;
    text-align: center;
    color: #FFF;
  }

  #jumboParallax h1,
  #jumboParallax h2,
  #jumboParallax h3,
  #jumboParallax h4,
  #jumboParallax h5,
  #jumboParallax h6,
  #jumboParallax a {
   color: #FFF;
 }

 .paralaxTitle {
  margin: 0 0 80px;
}

#scrollDown:hover {
  color:#919191;
}

/* End Parallax
========================================================================== */
#endParallax {
  background: url(../images/houston_phone.jpg) no-repeat center;
  display: table;
  height: 10%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 260px 0 160px 0;
  text-align: center;
  color: #FFF;
}


/* ==========================================================================
   Navigation Bar
   ========================================================================== */
   .navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    background-color: #919191;
    font-color: #A2000C;
  }

  .navbar-brand:focus {
    outline: 0;
  }

  .navbar-custom a {
    color: #fff;
    cursor: pointer;
  }

  .navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }

  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus,
  .navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
  }

  .navbar-brand:focus {
    outline: 0;
  }

  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
  }

  .navbar-toggle:focus,
  .navbar-toggle:active {
    outline: 0;
  }

/* ==========================================================================
   Footer
   ========================================================================== */
   footer {
    background: #919191;
    padding: 20px;
    font-size: 13px;
  }
  .footer {
    margin-bottom: 0px;
  }
  p.copyright,
  p.copyright a {
    color: #fff;
    text-align: center;
    font-size: 17px;
    margin-bottom: 0px;
  }


/* ==========================================================================
   Responsive Screens
   ========================================================================== */
   @media(min-width:767px) {

    #jumboParallax {
      background: url(../images/edited_profile_gimp.jpg) no-repeat center center fixed;
      display: table;
      height: 100%;
      position: relative;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 260px 0 160px 0;
      text-align: center;
      color: #FFF;
    }

    #endParallax {
      background: url(../images/edited_profile_gimp.jpg) no-repeat center center fixed;
      display: table;
      height: 40%;
      position: relative;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 260px 0 160px 0;
      text-align: center;
      color: #FFF;
    }

    .paralaxTitle {
      margin: 0 0 50px;
    }

    .navbar {
      padding: 20px 0;
      border-bottom: 0;
      letter-spacing: 1px;
      background: 0 0;
      -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
      transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
      padding: 0;
      background-color: #919191;
    }

    .navbar-custom.top-nav-collapse {
      border-bottom: 1px solid rgba(255,255,255,.3);
    }
  }